* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}


.cell {
    border: solid black;
    box-sizing: border-box;
}

.clickRed {
    background-color: red;
}

.clickBlue {
    background-color: blue;
}